<!-- FOOTER START (Midnight Slate Theme & Dynamic Features) -->
<footer class="footer-section pt-5 pb-4">
    <div class="container">
        <div class="row g-4">
            <!-- Navigation Links -->
            <div class="col-lg-2 col-md-4 col-6">
                <h5 class="footer-title">Navigation</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="courses.html">Courses</a></li>
                    <li><a href="javaTutorial.html">Tutorials</a></li>
                    <li><a href="blogs.html">Tech Blogs</a></li>
                    <li><a href="mcasem1.html">Study Notes</a></li>
                    <li><a href="awards.html">Gallery</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Get In Touch</a></li>
                </ul>
            </div>

            <!-- Courses & Tutorials -->
            <div class="col-lg-2 col-md-4 col-6">
                <h5 class="footer-title">Courses &amp; Topics</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="javaTutorial.html">Java Programming</a></li>
                    <li><a href="pythonTutorial.html">Python Development</a></li>
                    <li><a href="sqlTutorial.html">SQL Mastery</a></li>
                    <li><a href="plsqlTutorial.html">PL-SQL Procedures</a></li>
                    <li><a href="mysqlTutorial.html">MySQL Database</a></li>
                    <li><a href="courses.html">All Courses</a></li>
                </ul>
            </div>

            <!-- Blogs -->
            <div class="col-lg-2 col-md-4 col-6">
                <h5 class="footer-title">Latest Blogs</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="faceDetection.html">Face Detection AI</a></li>
                    <li><a href="zohobook.html">Zoho Book Invoicing</a></li>
                    <li><a href="chatbot.html">ChatBot Development</a></li>
                    <li><a href="aiTextDetection.html">AI Text Detection</a></li>
                    <li><a href="blogs.html">Explore All Blogs</a></li>
                </ul>
            </div>

            <!-- Study Notes -->
            <div class="col-lg-2 col-md-4 col-6">
                <h5 class="footer-title">MCA Notes</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="mcasem1.html">Semester I Notes</a></li>
                    <li><a href="mcasem2.html">Semester II Notes</a></li>
                    <li><a href="mcasem3.html">Semester III Notes</a></li>
                    <li><a href="mcasem4.html">Semester IV Notes</a></li>
                </ul>
            </div>

            <!-- Gallery -->
            <div class="col-lg-2 col-md-4 col-6">
                <h5 class="footer-title">Gallery</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="awards.html">Awards &amp; Recognition</a></li>
                    <li><a href="certifications.html">Certifications</a></li>
                    <li><a href="memory.html">Campus Memories</a></li>
                </ul>
            </div>

            <!-- Contact & Dynamic Newsletter -->
            <div class="col-lg-2 col-md-4 col-12">
                <h5 class="footer-title">Stay Connected</h5>
                <div class="social-icons mb-3">
                    <a href="https://itwallah.in" title="Website"><i class="fa-solid fa-globe"></i></a>
                    <a href="https://www.youtube.com/@itwallahindia" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.linkedin.com/in/manishkumarvish/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/itwallahindia" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/itwallahindia" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="https://t.me/itwallahindia" target="_blank" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
                    <a href="https://x.com/itwallahindia" target="_blank" title="Twitter/X"><i class="fab fa-twitter"></i></a>
                </div>

                <!-- Dynamic Newsletter Form -->
                <div class="gmail">
                    <form id="newsletterForm">
                        <div class="input-group">
                            <input type="email" id="newsletterEmail" class="form-control" placeholder="Your Email" aria-label="Your Email">
                            <button class="btn" type="submit" aria-label="Subscribe">
                                <i class="fa-solid fa-location-arrow"></i>
                            </button>
                        </div>
                        <div id="newsletterFeedback" class="newsletter-feedback"></div>
                    </form>
                </div>
            </div>
        </div>

        <hr>

        <!-- Copyright & Legal Links -->
        <div class="text-center copyright">
            Copyright <span id="currentYear">2026</span>. IT Wallah India All rights reserved |
            <a href="privacy.html">Privacy Policy</a> |
            <a href="termsAndCondition.html">Terms and Conditions</a>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
