<!-- TOP HEADER START (Dynamic Announcement Bar) -->
<div class="top-header-wrapper">
    <header class="header-slider">
        <div class="slider-track" id="header-track">
            <div class="slide">
                <span class="badge-pill-live">Latest</span>
                <div class="slide-text">
                    Welcome to IT Wallah India – Learn Coding, Modern Technology, Computer Troubleshooting, &amp; Explore Helpful Tech Blogs.
                </div>
                <div class="social-links">
                    <a href="https://itwallah.in" title="Website"><i class="fa-solid fa-globe"></i></a>
                    <a href="https://www.linkedin.com/in/itwallahindia/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                    <a href="https://youtube.com/@itwallahindia" target="_blank" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://facebook.com/itwallahindia" target="_blank" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://instagram.com/itwallahindia" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://t.me/itwallahindia" target="_blank" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
                    <a href="https://twitter.com/itwallahindia" target="_blank" title="Twitter/X"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
        </div>
    </header>
</div>
<!-- TOP HEADER END -->
